@model IEnumerable<K22CNTT3_NguyenVanHuynh_Project2.Models.NVHCartItem>

@{
    ViewBag.Title = "thông tin giỏ hàng";
}


<div class="row">
    <div class="col-md-8">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TenSanPham)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HinhAnh)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SoLuongMua)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DonGiaMua)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ThanhTien)
                    </th>
                    <th> Chức năng</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenSanPham)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HinhAnh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoLuongMua)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DonGiaMua)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ThanhTien)
                        </td>

                        <td>
                            @Html.ActionLink("Update", "UpdateToCart", new { id = item.Id })

                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>